---
import DarkModeSwitcher from "../ui/component/DarkModeSwitcher.vue";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Push It</title>
</head>
<body>
<DarkModeSwitcher client:load />
</body>
</html>